@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


:root {
  --primary-color: #FFFA9F;
  --secondary-color: #3F2723;
}

html,
body {}


.box-container {
  @apply max-w-7xl mx-auto px-4;
}

.box-container-md {
  @apply md:max-w-7xl md:mx-auto px-4;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.social-icon {
  @apply hover:-translate-y-1 duration-150 hover:opacity-75 opacity-80;
}

.mc-hd .nav-item .nav-lnk {
  position: relative;
  padding: 0;
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  display: inline-block;
}

.mc-hd .nav-item .nav-lnk img {
  background-size: cover;
  position: relative;
  bottom: 5px;
}

.mc-hd .nav-item .nav-lnk::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 24px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mc-hd .nav-item .nav-lnk-active {
  @apply border-b-2 border-[var(--primary-color)] py-[5px] text-[var(--primary-color)];
}

.mc-hd .nav-item .nav-lnk:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.mc-hd .nav-item .nav-lnk:hover {
  color: white;
}

.header-0 {
  @apply md:text-5xl text-3xl;
}

.header-1 {
  @apply md:text-4xl text-2xl;
}

.PhotoView-Slider__Backdrop{
  background-color: #00000059 !important;
  @apply backdrop-blur-md;
}

.PhotoView-Slider__BannerWrap {
  background-color: rgba(255, 255, 255, 0.251) !important;
  @apply flex my-2 ml-5  rounded-xl max-w-[180px] border-white shadow px-2 backdrop-blur-md;
}

