@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


:root{ 
  --primary-color : #FFFA9F;
}

html,
body {

}

.box-container {
  @apply max-w-7xl mx-auto px-4;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;

}
